# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

# These overrides are appropriate defaults for deploying this chart on OpenShift

global:
  openshift: true

injector:
  image:
    repository: "registry.connect.redhat.com/hashicorp/vault-k8s"
    tag: "1.3.1-ubi"

  agentImage:
    registry: "quay.io"
    repository: "openbao/openbao"
    tag: "v2.1.0-ubi"

server:
  image:
    registry: "quay.io"
    repository: "openbao/openbao"
    tag: "v2.1.0-ubi"

  readinessProbe:
    path: "/v1/sys/health?uninitcode=204"
